@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

#navbar {
  font-size: 20px;
  line-height: 26px;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.5px;
  background-color: #630d95;
background-image: linear-gradient(160deg, #630d95 0%, #ca1619 100%);

}

#header_title {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 180%;
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  flex-direction: column;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  flex-direction: column;
}

.result_window {
border: 4px solid #7650ff;
background: #ffffff;
text-align: center;
}

table {
  width: 100%;
}

.table_header {
  background: #7650ff;
  color: white;
  text-align: center;
  font-size: medium;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
